body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
  background-image: url(../Imagenes/encabezadoEditado.jpg);
  background-size: cover;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
  z-index: -100;
}

h1{
    text-align: center;
}

table{
    display: none;
    width: 20em;
    border-collapse: collapse;
}

td {
    width: 2.857em; /* Ancho de cada celda */
    padding: 0.3em;
    height: 1.2em; /* Altura automática */
    text-align: center; /* Centra el texto horizontalmente */
    vertical-align: middle;
}


.titulos{
    background-color: white;
    border: 1px white;
    padding: 0.25rem;
}

#titulosTabla{
    background-color: gainsboro;
    border-bottom: black solid 1px;
    border-top: black solid 1px;
}

tr:nth-child(even) {
    background-color: gainsboro; /* Color de fondo para filas pares */
    border: 1px  solid black;
    border-left: none; /* Elimina el borde izquierdo */
    border-right: none; /* Elimina el borde derecho */ 
}

tr:nth-child(odd) {
    background-color: white; /* Color de fondo para filas impares*/
    border: 1px white;  
}

th{
    min-width: 10rem;
}

#divTabla{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#createPersona{
    margin-top: 1rem;
}