body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
  background-image: url(../Imagenes/encabezadoEditado.jpg);
  background-size: cover;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
  z-index: -100;
}

h1{
    text-align: center;
}

table{
    display: none;
    width: 20em;
    border-collapse: collapse;
}

td {
    width: 2.857em; /* Ancho de cada celda */
    padding: 0.3em;
    height: 1.2em; /* Altura automática */
    text-align: center; /* Centra el texto horizontalmente */
    vertical-align: middle;
}


.titulos{
    background-color: white;
    border: 1px white;
    padding: 0.25rem;
}

#titulosTabla{
    background-color: gainsboro;
    border-bottom: black solid 1px;
    border-top: black solid 1px;
}

tr:nth-child(even) {
    background-color: gainsboro; /* Color de fondo para filas pares */
    border: 1px  solid black;
    border-left: none; /* Elimina el borde izquierdo */
    border-right: none; /* Elimina el borde derecho */ 
}

tr:nth-child(odd) {
    background-color: white; /* Color de fondo para filas impares*/
    border: 1px white;  
}

th{
    min-width: 10rem;
}

#divTabla{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#createPersona{
    margin-top: 1rem;
}

.seccion {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    display: none;
}

.formulario {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.campos {
    border: none;
    padding: 0;
    margin: 0;
    width: 25rem;
}

legend {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="submit"],
input[list],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.boton {
    background-color: #358697;
    color: white;
    border: none;
    cursor: pointer;
}

.boton:hover {
    background-color: #0c778d;
}

.botonCancelar {
    background-color:rgba(211, 24, 24, 0.851);
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
}

.botonCancelar:hover {
    background-color: rgba(206, 65, 65, 0.851);
}